<h1>Home#index</h1>
<h1>Hello World</h1>
<p>Find me in app/controllers/home_controller.rb</p>
<p>Find me in app/views/home/index.html.erb</p>

<p> documentation: <a href="https://guides.rubyonrails.org/getting_started.html#routes">Getting Started with Rails</a></p>
